body{
    border: 1px solid;
    width: 600px;
    height: 400px;
    margin: auto;
}
.picture{
    width: 200px; 
    height: 200px;
    border-radius: 800px;
}
div{
    text-align: center;
}
#mot{
    border: 1px double;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
}
p{
    font-size: 16px;
}